body {
      background-color: #47140f;
      margin-top:80px;
      margin-bottom:100px;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.textframe{
    width: 35em;
    margin: auto;
}
svg{
    margin: auto;
    display: block;
}

h1 {
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    color:#bbb;
    font-weight: 600;
}

p {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.4em;
    color:#bbb;
    font-weight: 300;
    margin-top:1.4em;
}

a {
    text-decoration: none;
    color: #a3fca2;
}

a:hover {
    opacity: 0.3;
}

.about-image {
    width:60%;
    display: block;
    margin: 50px auto;
}

.logo-container {
    display: block;
    width: 70px;
    margin: 64px auto;
}

#plotframe {
    margin: 30px 0px;
}

svg.logo {
    stroke: #a3fca2;
}

svg.logo:hover {
    stroke: white;
}

div.tooltip {
    position: absolute;
    text-align: center;
    font: 1em sans-serif;
    color: #bbbbbb;
    pointer-events: none;
}

text {
    paint-order: stroke fill;
}


@media only screen and (max-width: 768px){
    body {
        padding:20px;
        margin-top: 0px;
    }
    .textframe {
        width: 100%;
    }
    p {
        font-size: 16px;
    }
    svg {
        width: 100%;
        height: 100%;
    }

    .about-image {
        width:100%;
        display: block;
        margin: 20px auto;
    }
}
